<div class="container">
    <div class="row">
        <div class="col-12">

            <button type="button" class="btn btn-info" onclick="location.href='/administrador/usuario'">Usuarios</button>
        
            <button type="button" class="btn btn-info" onclick="location.href='/administrador/distribuidor'">Distribuidores</button>
       
            <button type="button" class="btn btn-info" onclick="location.href=''">Bicicletas</button>
        
            <button type="button" class="btn btn-info" onclick="location.href='/administrador/marca'">Marcas</button>

            <button type="button" class="btn btn-info" onclick="location.href='/administrador/modelo'">Modelos</button>
        
            <button type="button" class="btn btn-info" onclick="location.href='/administrador/caracteristicas'">Características</button>
        
            <button type="button" class="btn btn-info" onclick="location.href='/administrador/componentes'">Componentes</button>
        </div>
    </div>
</div>